---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Om Oss">
    <header>
        <h1>OM OSS</h1>
    </header>
    
    
    <div>
        <section>
            <h2>Hva er GOKK?</h2>
            <p>GOKK er en frivillig organisasjon for alle som er interreserte i Gamle Oslo, kaffe og/eller koding.</p>
        </section>

        <section>
            <h2>Årsmøtet</h2>
            <p>Årsmøtet er det høyeste organet i GOKK, og gjennomføres innen utgangen av april hvert år. Alle medlemmer har møte-, forslags-, og stemmerett på årsmøtet.</p>
        </section>
        
        <section>
            <h2>Styret</h2>
            <p>Styret settes ned på årsmøtet og tar seg av alt det kjedelige ved å drifte en organisasjon. De har ansvar for økonomien og den daglige driften av GOKK.</p>
            
            <h3>Medlemmer</h3>
            <ul>
                <li>
                    Audun Hammer Hovda, leder
                </li>
                <li>
                    Vegard Berget, styremedlem
                </li>
            </ul>
        </section>

        <section>
            <h2>Styret</h2>
            <p>Styret settes ned på årsmøtet og tar seg av alt det kjedelige ved å drifte en organisasjon. De har ansvar for økonomien og den daglige driften av GOKK.</p>

            <h3>Medlemmer</h3>
            <ul>
                <li>
                    Audun Hammer Hovda, leder
                </li>
                <li>
                    Vegard Berget, styremedlem
                </li>
            </ul>
        </section>

        <section>
            <h2>Styret</h2>
            <p>Styret settes ned på årsmøtet og tar seg av alt det kjedelige ved å drifte en organisasjon. De har ansvar for økonomien og den daglige driften av GOKK.</p>

            <h3>Medlemmer</h3>
            <ul>
                <li>
                    Audun Hammer Hovda, leder
                </li>
                <li>
                    Vegard Berget, styremedlem
                </li>
            </ul>
        </section>

        <section>
            <h2>Styret</h2>
            <p>Styret settes ned på årsmøtet og tar seg av alt det kjedelige ved å drifte en organisasjon. De har ansvar for økonomien og den daglige driften av GOKK.</p>

            <h3>Medlemmer</h3>
            <ul>
                <li>
                    Audun Hammer Hovda, leder
                </li>
                <li>
                    Vegard Berget, styremedlem
                </li>
            </ul>
        </section>

    </div>
</Layout>