---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Om Oss">
    <header>
        <h1>OM OSS</h1>
    </header>
    
    
    <div>
        <section>
            <h2>Hva er GOKK?</h2>
            <p>GOKK er en sosial forening for alle som er interreserte i Gamle Oslo, kaffe og/eller koding</p>
        </section>
        
        <section>
            <h2>Styret</h2>
            <ul>
                <li>
                    Audun Hammer Hovda, leder <!--Skal vi ha kontaktinfo her? -->
                </li>
                <li>
                    Vegard Berget, styremedlem
                </li>
            </ul>
        </section>

    </div>
</Layout>