---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Kontakt">
    <section>
        <p>Er det noe du lurer p책? Vil du intervjue oss? Sl책 gjerne p책 tr책den!</p>
    </section>

    <section>
        <h2>Styret</h2>
        <ul>
            <li>
                <p>Audun Hammer Hovda, leder</p>
                <a href="tel:+4793259046">932 59 046</a>
                <a href="mailto:hammerhovda@gmail.com">hammerhovda@gmail.com</a>
            </li>
            <li>
                <p>Vegard Berget, styremedlem</p>
            </li>
        </ul>
    </section>
</Layout>

<style>
    li {
        @apply mb-3 list-decimal
    }
</style>