---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Kontakt">
    <header>
        <h1>Kontakt</h1>
    </header>

    <section>
        <h2>Presse</h2>
        <ul>
            <li>
                <p>Audun Hammer Hovda</p>
            </li>
        </ul>
    </section>

    <section>
        <h2>Styret</h2>
        <ul>
            <li>
                <p>Audun Hammer Hovda</p>
                <a href="tel:+4793259046">932 59 046</a>
                <a href="mailto:hammerhovda@gmail.com">hammerhovda@gmail.com</a>
            </li>
            <li>
                <p>Vegard Berget</p>
            </li>
        </ul>
    </section>
</Layout>

<style>
    li {
        @apply mb-3 list-decimal
    }
</style>