---
import Layout from '../layouts/Layout.astro';
---

<Layout title="GOKK">	
	<section>
		<h2>Om oss</h2>
		<p>Gamle Oslo Kaffe og Koding er ...</p>
		<br>
		<a href="/gokk/join/">Bli medlem</a>
	</section>

	<section>
		<h2>Aktiviteter</h2>
		<ul>
			<li>
				<h3>Medlemsmøte</h3>
			</li>
		</ul>
	</section>
</Layout>

<style>

	button {
		@apply outline outline-2 outline-white p-3 hover:bg-white text-black;
	}
</style>
