---
import JoinForm from "../components/JoinForm.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bli Medlem">

    <section>
        <h2>Meld deg inn i GOKK</h2>
        <p>Inntil videre er skjemaet til pynt, i mellomtiden er du nødt til å kontakte leder for å faktisk melde deg inn</p>
        <a href="/contact" class="my-3 block w-fit">Kontakt oss</a>
        <JoinForm client:load/>
    </section>

    <section>
        <h2>FAQ</h2>
        <ul>
            <li>
                <h3>Koster det noe å bli medlem?</h3>
                <p>Nei</p>
            </li>
            <li>
                <h3>Må man kunne kode?</h3>
                <p>Nei</p>
            </li>
            <li>
                <h3>Må man like kaffe?</h3>
                <p>Nei</p>
            </li>
            <li>
                <h3>Må man bo i Gamle Oslo?</h3>
                <p>Nei</p>
            </li>
            <li>
                <h3>Det var da voldsomt raust?</h3>
                <p>Ja</p>
            </li>
        </ul>
    </section>
</Layout>

<style>
    h3 {
        font-size: x-large;
        font-weight: bold;
    }

    li {
        @apply mb-3 list-decimal
    }
</style>