---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Bli Medlem">
    <h1>BLI MEDLEM</h1>

    <section>
        <p>NB! Snart kommer det et ordentlig skjema her. Inntil videre, send en mail til leder og meld interesse!</p>
        <a href="/contact" class="block text-center">Kontakt oss</a>
    </section>

    <section>
        <h2>FAQ</h2>
        <ul>
            <li>
                <h3>Koster det noe 책 bli medlem?</h3>
                <p>Nei</p>
            </li>
            <li>
                <h3>M책 man kunne kode?</h3>
                <p>Nei</p>
            </li>
            <li>
                <h3>M책 man like kaffe?</h3>
                <p>Nei</p>
            </li>
            <li>
                <h3>M책 man bo i Gamle Oslo?</h3>
                <p>Nei</p>
            </li>
            <li>
                <h3>Det var da voldsomt raust?</h3>
                <p>Ja</p>
            </li>
        </ul>
    </section>
</Layout>

<style>
    h3 {
        font-size: x-large;
        font-weight: bold;
    }

    li {
        @apply mb-3 list-decimal
    }
</style>