---
export interface Props {
	title: string;
}

import Navbar from '../components/Navbar.vue';
import Footer from '../components/Footer.vue';

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="m-2">
		<Navbar/>
		<div class="mt-20 flex flex-col max-w-lg m-auto">
			<slot />
		</div>
		<Footer />
	</body>
</html>
<style>
	:root {
		--font-size-base: 20px;
		--font-size-lg: 2rem;
		--font-size-xl: 4rem;

		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(0, 0%, 100%);
	}

	@font-face{
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }

	html {
		font-family: 'JetBrainsMono', system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}

	:global(a) {
		@apply hover:underline decoration-black border border-black p-1 bg-white
	}

	:global(h1) {
		font-size: var(--font-size-xl);
		text-align: center;
	}

	:global(h2) {
		font-size: var(--font-size-lg);
	}

	:global(section) {
		@apply mb-5
	}

	:global(code) {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
